/*
.all_content{
  width: 100%;
}

 Create two equal columns that floats next to each other 
.column {
  float: left;
  width:50%;
  padding: 10px;
    Should be removed. Only for demonstration 
}

.main_column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; Should be removed. Only for demonstration 
}
FFE81F
*/


@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html, body {
  background: 
   url(https://thumbs.gfycat.com/FeistyJaggedBuffalo-size_restricted.gif) repeat; 
}

* {
  box-sizing: border-box;
}

/*********LIGHTSABER MENU ICON**********/

#menu_icon{
  font-family: Open Sans;
  color: white;
  background: #111;

  width: 300px;
}

#light_saber_container {
  width: 80px;
  height: 80px;
  position: fixed;
  top: 0%;
  left: 0%;
  overflow: hidden;
}

#burger {
  position: relative;
  cursor: pointer;
  opacity: 0;
  -webkit-animation: fadein 0.2s ease 1s forwards;
          animation: fadein 0.2s ease 1s forwards;

  width: 100%;
  height: 100%;
}
#burger .filling, #burger .bun {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  height: 10%;
  width: 70%;
  transform-origin: 50% 50%;
  transition: top 0.4s ease 0.4s, transform 0.4s ease 0.4s;
}
#burger .filling:before, #burger .bun:before, #burger .filling:after, #burger .bun:after {
  content: "";
  display: block;
  height: 40%;
  background: white;
  position: absolute;
  top: 50%;
  transform: translate(0%, -45%);
  transition: background 0.2s ease, box-shadow 0.2s ease;
}
#burger .filling:before, #burger .bun:before {
  left: 0;
  width: calc(-1px + 75%);
  border-radius: 10px 0px 0px 10px;
}
#burger .filling:after, #burger .bun:after {
  right: 0;
  width: calc(-1px + 25%);
}
#burger:hover .bun.top:before {
  background: #FEE;
  box-shadow: #F00 0px 0px 10px 1px;
}
#burger:hover .bun.bottom:before {
  background: #DFF;
  box-shadow: #0FF 0px 0px 10px 1px;
}
#burger:hover .filling:before {
  background: #EFE;
  box-shadow: #0F0 0px 0px 10px 1px;
}
#burger .bun.top {
  top: 25%;
}
#burger .bun.bottom {
  top: 75%;
}
#burger .filling {
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  -webkit-animation: green-ls-out 0.8s ease forwards;
          animation: green-ls-out 0.8s ease forwards;
}
#burger.active .bun {
  border-radius: 3px;
  top: 50%;
  transition: top 0.4s ease, transform 0.4s ease;
}
#burger.active .bun.top {
  transform: translate(-50%, -50%) rotate(-225deg);
}
#burger.active .bun.bottom {
  transform: translate(-50%, -50%) rotate(405deg);
}
#burger.active .filling {
  transform: translate(-50%, -50%) rotate(-90deg);
  -webkit-animation: green-ls-in 0.8s ease forwards;
          animation: green-ls-in 0.8s ease forwards;
}

/*********NAV BAR**********/

nav {
  font-family: Open Sans;
  color: white;
  background: #111;
  position: absolute;
  transform: translatex(-100%);
  transition: transform 0.2s ease;
  top: 80px;
  bottom: 0px;
  padding-right: 16px;
  width: 300px;
}
nav.show {
  transform: translatex(0%);
  position: fixed;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  background: #ecfcff;
  box-shadow: #4df 0px 0px 0px 2px;
  font-size: 1.75em;
  line-height: 1.25em;
  padding: 0px;
  padding-left: 0px;
  margin: 16px 0px;
  width: 0;
  border-radius: 0px 100px 100px 0px;
  transition: width 0.2s ease, padding 0.2s ease, color 0.2s ease, text-shadow 0.2s ease;
}
nav ul li:hover {
  box-shadow: #4df 0px 0px 20px 2px;
  text-shadow: #4df 0px 0px 6px, #4df 0px 0px 10px;
}
nav ul li:hover {
  width: 100%;
  padding: 0px 16px 0px 0px;
  color: black;
}
nav ul li a {
  display: block;
  text-decoration: none;
  width: 300px;
  color: inherit;
  padding-left: 16px;
}
nav ul li.green {
  background: #e6ffe6;
  box-shadow: #0F0 0px 0px 0px 2px;
}
nav ul li.green:hover {
  box-shadow: #0F0 0px 0px 20px 2px;
  text-shadow: #0F0 0px 0px 6px, #0F0 0px 0px 10px;
}
nav ul li.red {
  background: #ffe6e6;
  box-shadow: #F00 0px 0px 0px 2px;
}
nav ul li.red:hover {
  box-shadow: #F00 0px 0px 20px 2px;
  text-shadow: #F00 0px 0px 6px, #F00 0px 0px 10px;
}
nav ul li.purple {
  background: #fae6fa;
  box-shadow: #c0c 0px 0px 0px 2px;
}
nav ul li.purple:hover {
  box-shadow: #c0c 0px 0px 20px 2px;
  text-shadow: #c0c 0px 0px 6px, #c0c 0px 0px 10px;
}
nav ul li.yellow {
  background: #ffffe6;
  box-shadow: #FF0 0px 0px 0px 2px;
}
nav ul li.yellow:hover {
  box-shadow: #FF0 0px 0px 20px 2px;
  text-shadow: #FF0 0px 0px 6px, #FF0 0px 0px 10px;
}

@-webkit-keyframes green-ls-in {
  0% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-90deg) translate(200%, 0%);
  }
}

@keyframes green-ls-in {
  0% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-90deg) translate(200%, 0%);
  }
}
@-webkit-keyframes green-ls-out {
  0% {
    transform: translate(-50%, -200%) rotate(-90deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}
@keyframes green-ls-out {
  0% {
    transform: translate(-50%, -200%) rotate(-90deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}
@-webkit-keyframes fadein {
  from {
    Opacity: 0;
  }
  to {
    Opacity: 1;
  }
}
@keyframes fadein {
  from {
    Opacity: 0;
  }
  to {
    Opacity: 1;
  }
}



/*************MAIN CONTENT****************/

#main_content{
  margin-top: 100px;
  color:#FFE81F;
}
.shrink_content{
  /*When navbar expands, the main content should move outta the way*/
  margin-left: 300px;
}

#main_title{
  text-align: center;
}

/****COMMON SECTION STUFF***/
.section_title{
  text-align: center;
  text-decoration: underline;
  margin-top: 100px;
}
.divider{

  overflow:hidden;
  width: 80%;
  text-align: center;
  line-height:1.2em;
  margin-left: 10%;
}

.divider:before, .divider:after{
  content:"";
  vertical-align:middle;
  display:inline-block;
  width:50%;
  border-bottom:2px dotted #ccc;
  margin:0 2% 0 -55%;
}
.divider:after{
  margin:0 -55% 0 2%;
}
h1:nth-child(2){
  font-size:3em;
}


/*About Me section*/
.bold {
  font-weight: bold;
  text-align: center;
}

#about {
  text-align: center;
  width: 50vw;
  margin-left:auto;
  margin-right:auto;
  
}

.description{
  text-align: left;
}
.description::first-line {
  font-weight: bold;
}

img{
  border-radius: 50%;
}

/* Previous work */
section#previous{
  text-align: center;
  width: 50vw;
  margin-left:auto;
  margin-right:auto;
}


/* Projects work */
section#projects{
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 70%;
  margin: 0 auto;
}

.card {
  height: 400px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  border: 4px solid #b0215e;
  margin-bottom: 20px;
  background-size: cover;
}
@media (min-width: 768px) {
  .card {
    height: 500px;
  }
}

.inner {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  box-sizing: border-box;
  padding: 40px;
  color:#111;
  text-align: center;
}


@media (min-width: 768px) {
  .inner {
    width: 50%;
    height: 100%;
  }
}

.title {
  font-size: 24px;
  color: black;
  text-align: center;
  font-weight: 700;
  color: #181818;
  text-shadow: 0px 2px 2px #a6f8d5;
  position: relative;
  margin: 0 0 20px 0;
}
@media (min-width: 768px) {
  .title {
    font-size: 30px;
  }
}

.card_description {
  color: #b0215e;
  text-align: center;
}
.card1{
  background-image: url("https://images.unsplash.com/photo-1516051662687-567d7c4e8f6a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80");
}
.card2 {
  background-image: url("https://media4.giphy.com/media/SsaTlLpHRibXLoZkzK/200.gif");
}

.card3 {
  background-image: url("https://images.unsplash.com/photo-1557576842-3bc6093a5085?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
}


/*CONTACT US SECTION*/

section#contact{
  margin-top: 50px;
  margin-bottom: 50px;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #FFE81F;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #FFE81F; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#FFE81F;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:black;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#FFE81F; }

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}